.header-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        font-size: 25px;
        font-weight: 600;
        width: 100%;
        padding-inline: 50px;
    }
    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        padding: 10px;
        .btn{
           border: 1px solid rgba(255, 255, 255, 0.1);
           padding: 10px 20px;
           border-radius: 5px; 
          
        }
        .btn:hover{
            border: 1px solid rgba(255, 255, 255, 0.3);
            cursor: pointer;
        }
        .l-btn{
            cursor: pointer;
        }

    }
}